html{
  overflow: hidden;
}

body {
  margin: 0;
  overflow-x: hidden; /* Empêcher le défilement horizontal */
  display: flex;
  flex-direction: column;
  font-family: "Rockwell", sans-serif;
  box-sizing: border-box;
  z-index: -2;
  position: relative;
}

.c1, .c2, .c3, .c4, .c5, .c6{
  /* width: 100%; */
}

/*__________________________ Acceuil_______________________________*/

.c1 {
  margin-bottom: 20px;
  overflow-x: hidden;
  background-color: #31569e;
}

.path_c1 {
  clip-path: polygon(50% 100%, 100% 95%, 100% 0, 0 0, 0 95%);
}

/* MENU */

.menu {
  position: fixed; 
  display: flex;
  background-color: rgb(55, 79, 186);
  width: 825px;
  justify-content: center;
  height: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(73, 185, 245, 0.5) 5px 10px 15px;
  top: 5%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 900;
}

.button {
position: relative;
outline: 0 !important;
border: 0 !important;
height: 40px;
border-radius: 50%;
background-color: transparent;
display: flex;
align-items: center;
justify-content: center;
color: #ffffff;
transition: all ease-in-out 0.3s;
cursor: pointer;
}

.button:hover {
transform: scale(1.3);
}

.icon {
font-size: 20px;
padding: 5px;
border-style:solid 30px ;
overflow: hidden; 
flex-shrink: 0;
color: #fff;
}

/* FIN MENU*/

/* PAGE PRÉSENTATION*/

.acceuil{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.acceuil video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.acc_txt {
  position: absolute;
  top: 50%; /* Positionne le texte au milieu verticalement */
  left: 50%; /* Positionne le texte au milieu horizontalement */
  transform: translate(-50%, -50%); /* Centre le texte correctement */
  text-align: center;
  color: rgba(255, 255, 255, 0.984); /* Couleur du texte */
  z-index: 2;
}

ul{
  position: relative;
  display: flex;
}

.port li{
  list-style: none;
  letter-spacing: 10px;
  animation: pulse 5s infinite;
  font-size: 45px;

}
.bienvenu li{
  list-style: none;
  font-size: 70px;
  letter-spacing: 10px;
  animation: pulse 5s infinite;
  font-size: 45px;
}

.global_por{
  display: flex;
  flex-direction: row;
}

.name li{
  font-size: 45px;
  list-style: none;
  letter-spacing: 10px;
  animation: flash 5s infinite;
}

/* .other li{
  animation: flash 5s infinite;
} */
/* FIN PAGE PRÉSENTATION*/

@keyframes flash {
  0%{
    color: rgb(255, 255, 255);
  }

  50%{
    color: rgb(49, 255, 49);
    
  }

  75%{
    color: rgb(49, 255, 49);

  }
}

@keyframes pulse{

  75%{
    color: aqua;
  }

  50%{
    color:rgb(0, 191, 255);
  }

  25%{
    color:rgb(134, 193, 255);
  }

}